.form_control {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.form_control label {
    margin-bottom: .3em;
    font-size: .8em;
}

.form_control input {
    padding: .7em;
    border: 1px solid #777;
    border-radius: 5px;
}

.form_control input::placeholder {
    color: #7b7b7b;
}