.form_control {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.form_control label {
    margin-bottom: .6em;
    font-weight: bold;
    font-size: .8em;
}

.form_control select {
    padding: .7em;
    border: 1px solid #777;
    border-radius: 5px;
}
